<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>[swag]</key>
		<string>001[swag]</string>
	</dict>
	<dict>
		<key>[说唱]</key>
		<string>002[说唱]</string>
	</dict>
	<dict>
		<key>[666]</key>
		<string>003[666]</string>
	</dict>
	<dict>
		<key>[嘻哈]</key>
		<string>004[嘻哈]</string>
	</dict>
	<dict>
		<key>[敷面膜]</key>
		<string>005[敷面膜]</string>
	</dict>
	<dict>
		<key>[葛优躺]</key>
		<string>006[葛优躺]</string>
	</dict>
	<dict>
		<key>[辫子大叔]</key>
		<string>007[辫子大叔]</string>
	</dict>
	<dict>
		<key>[棒棒]</key>
		<string>008[棒棒]</string>
	</dict>
	<dict>
		<key>[洪荒之力]</key>
		<string>009[洪荒之力]</string>
	</dict>
	<dict>
		<key>[金馆长]</key>
		<string>010[金馆长]</string>
	</dict>
	<dict>
		<key>[鸟叔]</key>
		<string>011[鸟叔]</string>
	</dict>
	<dict>
		<key>[食屎啦雷]</key>
		<string>012[食屎啦雷]</string>
	</dict>
	<dict>
		<key>[舒服]</key>
		<string>013[舒服]</string>
	</dict>
	<dict>
		<key>[小拳拳]</key>
		<string>014[小拳拳]</string>
	</dict>
	<dict>
		<key>[ppap]</key>
		<string>015[ppap]</string>
	</dict>
	<dict>
		<key>[freestyle]</key>
		<string>016[freestyle]</string>
	</dict>
	<dict>
		<key>[duan]</key>
		<string>017[duan]</string>
	</dict>
	<dict>
		<key>[完美]</key>
		<string>018[完美]</string>
	</dict>
	<dict>
		<key>[放电]</key>
		<string>019[放电]</string>
	</dict>
	<dict>
		<key>[切]</key>
		<string>020[切]</string>
	</dict>
	<dict>
		<key>[冰库北]</key>
		<string>021[冰库北]</string>
	</dict>
	<dict>
		<key>[萌]</key>
		<string>022[萌]</string>
	</dict>
	<dict>
		<key>[亲亲]</key>
		<string>023[亲亲]</string>
	</dict>
	<dict>
		<key>[尴笑]</key>
		<string>024[尴笑]</string>
	</dict>
	<dict>
		<key>[哭笑不得]</key>
		<string>025[哭笑不得]</string>
	</dict>
	<dict>
		<key>[挑衅]</key>
		<string>026[挑衅]</string>
	</dict>
	<dict>
		<key>[无奈]</key>
		<string>027[无奈]</string>
	</dict>
	<dict>
		<key>[嘿哈]</key>
		<string>028[嘿哈]</string>
	</dict>
	<dict>
		<key>[滑稽]</key>
		<string>029[滑稽]</string>
	</dict>
	<dict>
		<key>[胡子]</key>
		<string>030[胡子]</string>
	</dict>
	<dict>
		<key>[坏笑]</key>
		<string>031[坏笑]</string>
	</dict>
	<dict>
		<key>[奸笑]</key>
		<string>032[奸笑]</string>
	</dict>
	<dict>
		<key>[流口水]</key>
		<string>033[流口水]</string>
	</dict>
	<dict>
		<key>[鄙视]</key>
		<string>034[鄙视]</string>
	</dict>
	<dict>
		<key>[闭嘴]</key>
		<string>035[闭嘴]</string>
	</dict>
	<dict>
		<key>[微笑]</key>
		<string>036[微笑]</string>
	</dict>
	<dict>
		<key>[无表情]</key>
		<string>037[无表情]</string>
	</dict>
	<dict>
		<key>[大笑]</key>
		<string>038[大笑]</string>
	</dict>
	<dict>
		<key>[兔牙]</key>
		<string>039[兔牙]</string>
	</dict>
	<dict>
		<key>[惊吓]</key>
		<string>040[惊吓]</string>
	</dict>
	<dict>
		<key>[花痴]</key>
		<string>041[花痴]</string>
	</dict>
	<dict>
		<key>[开心]</key>
		<string>042[开心]</string>
	</dict>
	<dict>
		<key>[要死]</key>
		<string>043[要死]</string>
	</dict>
	<dict>
		<key>[丧尸]</key>
		<string>044[丧尸]</string>
	</dict>
	<dict>
		<key>[哭]</key>
		<string>045[哭]</string>
	</dict>
	<dict>
		<key>[感冒]</key>
		<string>046[感冒]</string>
	</dict>
	<dict>
		<key>[愤怒]</key>
		<string>047[愤怒]</string>
	</dict>
	<dict>
		<key>[调皮]</key>
		<string>048[调皮]</string>
	</dict>
	<dict>
		<key>[爆头]</key>
		<string>049[爆头]</string>
	</dict>
	<dict>
		<key>[白眼]</key>
		<string>050[白眼]</string>
	</dict>
	<dict>
		<key>[唉]</key>
		<string>051[唉]</string>
	</dict>
	<dict>
		<key>[两眼发光]</key>
		<string>052[两眼发光]</string>
	</dict>
	<dict>
		<key>[蓝瘦]</key>
		<string>053[蓝瘦]</string>
	</dict>
	<dict>
		<key>[香菇]</key>
		<string>054[香菇]</string>
	</dict>
	<dict>
		<key>[生病]</key>
		<string>055[生病]</string>
	</dict>
	<dict>
		<key>[吓傻]</key>
		<string>056[吓傻]</string>
	</dict>
	<dict>
		<key>[吐]</key>
		<string>057[吐]</string>
	</dict>
	<dict>
		<key>[冷汗]</key>
		<string>058[冷汗]</string>
	</dict>
	<dict>
		<key>[睡觉]</key>
		<string>059[睡觉]</string>
	</dict>
	<dict>
		<key>[疼]</key>
		<string>060[疼]</string>
	</dict>
	<dict>
		<key>[疑问]</key>
		<string>061[疑问]</string>
	</dict>
	<dict>
		<key>[晕]</key>
		<string>062[晕]</string>
	</dict>
	<dict>
		<key>[无语]</key>
		<string>063[无语]</string>
	</dict>
	<dict>
		<key>[痛]</key>
		<string>064[痛]</string>
	</dict>
	<dict>
		<key>[酷]</key>
		<string>065[酷]</string>
	</dict>
	<dict>
		<key>[魔鬼]</key>
		<string>066[魔鬼]</string>
	</dict>
	<dict>
		<key>[天使]</key>
		<string>067[天使]</string>
	</dict>
	<dict>
		<key>[晚安]</key>
		<string>068[晚安]</string>
	</dict>
	<dict>
		<key>[早安]</key>
		<string>069[早安]</string>
	</dict>
	<dict>
		<key>[中毒]</key>
		<string>070[中毒]</string>
	</dict>
	<dict>
		<key>[炸弹]</key>
		<string>071[炸弹]</string>
	</dict>
	<dict>
		<key>[屎]</key>
		<string>072[屎]</string>
	</dict>
	<dict>
		<key>[猪]</key>
		<string>073[猪]</string>
	</dict>
	<dict>
		<key>[很6]</key>
		<string>074[很6]</string>
	</dict>
	<dict>
		<key>[ok]</key>
		<string>075[ok]</string>
	</dict>
	<dict>
		<key>[耶]</key>
		<string>076[耶]</string>
	</dict>
	<dict>
		<key>[厉害]</key>
		<string>077[厉害]</string>
	</dict>
	<dict>
		<key>[给力]</key>
		<string>078[给力]</string>
	</dict>
	<dict>
		<key>[抱拳]</key>
		<string>079[抱拳]</string>
	</dict>
	<dict>
		<key>[击掌]</key>
		<string>080[击掌]</string>
	</dict>
	<dict>
		<key>[玫瑰]</key>
		<string>081[玫瑰]</string>
	</dict>
	<dict>
		<key>[刀]</key>
		<string>082[刀]</string>
	</dict>
	<dict>
		<key>[庆祝]</key>
		<string>083[庆祝]</string>
	</dict>
</array>
</plist>
